@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Inputs focus */
input:focus, textarea:focus {
  outline: none;
  ring: 2px;
}




